pkgbase = jetbrains-pycharm
	pkgdesc = A cross-platform Python IDE by JetBrains.
	pkgver = 2023.3.4
	pkgrel = 1
	url = https://www.jetbrains.com/pycharm
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = pycharm-professional-2023.3.4.tar.gz
	source = https://download.jetbrains.com/python/pycharm-professional-2023.3.4.tar.gz
	source = jetbrains-pycharm.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = e1251baa7389b906cf22bb720fd491f13a41d35cee4eeb5de5d8cceb485794b7
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-pycharm
	optdepends = jetbrains-pycharm-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-pycharm-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = python: Python language support
	optdepends = python-coverage: For support code coverage measurement
	optdepends = python-pytest: For support testing inside Pycharm
	optdepends = python-setuptools: Packages manager for Python, for project interpreter
	optdepends = python-tox: Python environments for testing tool
	optdepends = ipython: For enhanced interactive Python shell inside Pycharm
	optdepends = cython: For performance debugger
	optdepends = openssh: For deployment and remote connections
	optdepends = docker-machine: For support docker inside Pycharm
	optdepends = docker-compose: For support docker inside Pycharm
	optdepends = vagrant: For support virtualized development environments
	optdepends = jupyter-server: For Jupyter notebooks and apps
	provides = jetbrains-pycharm
	conflicts = jetbrains-pycharm
	backup = opt/jetbrains-pycharm/bin/idea.properties
	backup = opt/jetbrains-pycharm/bin/pycharm64.vmoptions

pkgname = jetbrains-pycharm-jre
	pkgdesc = JetBrains Runtime (JBR) for PyCharm - a patched JRE
	provides = jetbrains-pycharm-jre
	conflicts = jetbrains-pycharm-jre
