[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains PyCharm
Comment=A cross-platform Python IDE by JetBrains
Exec=jetbrains-pycharm %f
Icon=jetbrains-pycharm
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-pycharm
