pkgbase = jetbrains-pycharm
	pkgdesc = A cross-platform Python IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/pycharm/download/other.html
	install = jetbrains-pycharm-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	makedepends = cython
	makedepends = python-setuptools
	depends = giflib
	depends = glib2
	depends = libxtst
	noextract = pycharm-professional-2021.2.2.tar.gz
	source = https://download.jetbrains.com/python/pycharm-professional-2021.2.2.tar.gz
	source = jetbrains-pycharm-old.desktop
	source = jetbrains-pycharm-old.install
	source = LICENSE
	sha256sums = a6dc59213bdd728b628f14179e3da271eea2344cced8ee50be71582392abf555
	sha256sums = 963920ed686b67db1a3ba52770b84f7d5720b1211a6656e0cc352cfb4b3a1015
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-pycharm-old
	optdepends = jetbrains-pycharm-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-pycharm-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = python: Python language support
	optdepends = python-coverage: For support code coverage measurement
	optdepends = python-pytest: For support testing inside Pycharm
	optdepends = python-setuptools: Packages manager for Python, for project interpreter
	optdepends = python-tox: Python environments for testing tool
	optdepends = ipython: For enhanced interactive Python shell inside Pycharm
	optdepends = cython: For performance debugger
	optdepends = openssh: For deployment and remote connections
	optdepends = docker-machine: For support docker inside Pycharm
	optdepends = docker-compose: For support docker inside Pycharm
	optdepends = vagrant: For support virtualized development environments
	optdepends = jupyter-server: For Jupyter notebooks and apps
	provides = jetbrains-pycharm-old
	conflicts = jetbrains-pycharm-old
	backup = opt/jetbrains-pycharm-old/bin/idea.properties
	backup = opt/jetbrains-pycharm-old/bin/pycharm64.vmoptions

pkgname = jetbrains-pycharm-jre-old
	pkgdesc = JetBrains Runtime (JBR) for PyCharm - a patched JRE
	provides = jetbrains-pycharm-jre-old
	conflicts = jetbrains-pycharm-jre-old
