[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains PyCharm (old)
Comment=A cross-platform Python IDE by JetBrains
Exec=jetbrains-pycharm-old %f
Icon=jetbrains-pycharm-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-pycharm-old
