pkgbase = jetbrains-rubymine
	pkgdesc = A cross-platform Ruby IDE by JetBrains.
	pkgver = 2023.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/ruby/
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = RubyMine-2023.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/ruby/RubyMine-2023.2.2.tar.gz
	source = jetbrains-rubymine.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 08d68bb08aec059688753b2e33a7539006a633472ffc4bfe99b84c414a8a7759
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-rubymine
	optdepends = jetbrains-rubymine-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-rubymine-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = ruby: Ruby run/debug support
	provides = jetbrains-rubymine
	conflicts = jetbrains-rubymine
	backup = opt/jetbrains-rubymine/bin/idea.properties
	backup = opt/jetbrains-rubymine/bin/rubymine64.vmoptions

pkgname = jetbrains-rubymine-jre
	pkgdesc = JetBrains Runtime (JBR) for RubyMine - a patched JRE
	provides = jetbrains-rubymine-jre
	conflicts = jetbrains-rubymine-jre
