[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains RubyMine
Comment=A cross-platform Ruby IDE by JetBrains
Exec=jetbrains-rubymine %f
Icon=jetbrains-rubymine
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-rubymine
