pkgbase = jetbrains-rider
	pkgdesc = A cross-platform C# IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/rider/download/other.html
	install = jetbrains-rider-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = giflib
	depends = glib2
	depends = libxtst
	noextract = JetBrains.Rider-2021.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2021.2.2.tar.gz
	source = jetbrains-rider-old.desktop
	source = jetbrains-rider-old.install
	source = LICENSE
	sha256sums = ca61667359c841b01b2b257df476b97cfcce8c423e6a0a32c5b1e4367e45bd9f
	sha256sums = 317976e51edabfa8f08219bf26d937c5aff416b115f95a0fde63a9b431fff27d
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-rider-old
	optdepends = jetbrains-rider-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-rider-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = mono: .NET runtime
	optdepends = msbuild: Build .NET Core projects
	provides = jetbrains-rider-old
	conflicts = jetbrains-rider-old
	backup = opt/jetbrains-rider-old/bin/idea.properties
	backup = opt/jetbrains-rider-old/bin/rider64.vmoptions

pkgname = jetbrains-rider-jre-old
	pkgdesc = JetBrains Runtime (JBR) for Rider - a patched JRE
	provides = jetbrains-rider-jre-old
	conflicts = jetbrains-rider-jre-old
