[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains Rider (old)
Comment=A cross-platform C# IDE by JetBrains
Exec=jetbrains-rider-old %f
Icon=jetbrains-rider-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-rider-old
