[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider (old)
Icon=jetbrains-rider-old
Exec=jetbrains-rider-old %f
Comment=A cross-platform C# IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider-old
