pkgbase = jetbrains-intellij-idea
	pkgdesc = A cross-platform Java and Kotlin IDE by JetBrains.
	pkgver = 2023.3
	pkgrel = 1
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = ideaIU-2023.3.tar.gz
	options = !strip
	source = https://download.jetbrains.com/idea/ideaIU-2023.3.tar.gz
	source = jetbrains-intellij-idea.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 38a58a300937edc825463f9e4a9d43e782276e9979606046c8be9d466ea5a594
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-intellij-idea
	optdepends = jetbrains-intellij-idea-jre: JetBrains custom JRE (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-intellij-idea-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = ant: Build system
	optdepends = gradle: Build system
	optdepends = maven: Build system
	provides = jetbrains-intellij-idea
	conflicts = jetbrains-intellij-idea
	backup = opt/jetbrains-intellij-idea/bin/idea.properties
	backup = opt/jetbrains-intellij-idea/bin/idea64.vmoptions

pkgname = jetbrains-intellij-idea-jre
	pkgdesc = JetBrains Runtime (JBR) for IntelliJ IDEA - a patched JRE
	provides = jetbrains-intellij-idea-jre
	conflicts = jetbrains-intellij-idea-jre
