[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains GoLand
Comment=A cross-platform GO IDE by JetBrains
Exec=jetbrains-goland %f
Icon=jetbrains-goland
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-goland
