[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains DataGrip
Comment=A cross-platform Databases IDE by JetBrains
Exec=jetbrains-datagrip %f
Icon=jetbrains-datagrip
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-datagrip
