[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains DataGrip
Icon=jetbrains-datagrip
Exec=jetbrains-datagrip %f
Comment=A cross-platform Databases IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-datagrip
