pkgbase = jetbrains-goland
	pkgdesc = A cross-platform GO IDE by JetBrains.
	pkgver = 2021.2.3
	pkgrel = 4
	url = https://www.jetbrains.com/go/download/other.html
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = alsa-lib
	noextract = goland-2021.2.3.tar.gz
	options = !strip
	source = https://download.jetbrains.com/go/goland-2021.2.3.tar.gz
	source = jetbrains-goland-old.desktop
	source = LICENSE
	sha256sums = af413a8357c15ba1aebd4594a4cb9988473d1319df2c815a5697ec5ec0cc1ed8
	sha256sums = 9afc6168f866c3b35860e00259e512566f2de6f7d6ad6d9fa511dbea60e34ffb
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-goland-old
	optdepends = jetbrains-goland-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-goland-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = go: Golang run/debug support
	provides = jetbrains-goland-old
	conflicts = jetbrains-goland-old
	backup = opt/jetbrains-goland-old/bin/idea.properties
	backup = opt/jetbrains-goland-old/bin/goland64.vmoptions

pkgname = jetbrains-goland-jre-old
	pkgdesc = JetBrains Runtime (JBR) for Goland - a patched JRE
	provides = jetbrains-goland-jre-old
	conflicts = jetbrains-goland-jre-old
