[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains GoLand (old)
Icon=jetbrains-goland-old
Exec=jetbrains-goland-old %f
Comment=A cross-platform GO IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-goland-old
