[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains GoLand (old)
Comment=A cross-platform GO IDE by JetBrains
Exec=jetbrains-goland-old %f
Icon=jetbrains-goland-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-goland-old
