[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains IntelliJ IDEA (old)
Comment=A cross-platform Java and Kotlin IDE by JetBrains
Exec=jetbrains-intellij-idea-old %f
Icon=jetbrains-intellij-idea-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-intellij-idea-old
