pkgbase = google-android-studio
	pkgdesc = An integrated development environment for Google's Android OS.
	pkgver = 2023.2.1.24
	pkgrel = 1
	url = https://developer.android.com/studio
	arch = x86_64
	license = unknown
	makedepends = rsync
	source = https://dl.google.com/dl/android/studio/ide-zips/2023.2.1.24/android-studio-2023.2.1.24-linux.tar.gz
	source = google-android-studio.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 77a99e7e9ef38e516cfc48c2c969fac1c9bfc741e343cd8c7a5a57ec2a56a4d3
	sha256sums = f8e179553438e93758c564b6f788db3c4cf1124898899437d36583009779d1fb

pkgname = google-android-studio
	optdepends = google-android-studio-jre: JetBrains custom JRE (Recommended)
	optdepends = libgl: Emulator support
	optdepends = ncurses5-compat-libs: Native debugger support
	provides = google-android-studio
	conflicts = google-android-studio
	backup = opt/google-android-studio/bin/idea.properties
	backup = opt/google-android-studio/bin/studio64.vmoptions

pkgname = google-android-studio-jre
	pkgdesc = JetBrains Runtime (JBR) for Android Studio - a patched JRE
	provides = google-android-studio-jre
	conflicts = google-android-studio-jre
