pkgbase = jetbrains-datagrip
	pkgdesc = A cross-platform Databases IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/datagrip/download/other.html
	install = jetbrains-datagrip-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = giflib
	depends = glib2
	depends = libxtst
	noextract = datagrip-2021.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/datagrip/datagrip-2021.2.2.tar.gz
	source = jetbrains-datagrip-old.desktop
	source = jetbrains-datagrip-old.install
	source = LICENSE
	sha256sums = 638b2c584a1b90d29e6ada829f8e3cdbfd3aad7afcd30b3a437d90b675adaaa1
	sha256sums = c41a04b79e6b57e62e0f2bd403af831c74d8959bd46a0f28e137c617918b332a
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-datagrip-old
	optdepends = jetbrains-datagrip-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-datagrip-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = mariadb: Fast SQL database server,
	optdepends = postgresql: Sophisticated object-relational DBMS
	optdepends = sqlite: A C library that implements an SQL database engine
	provides = jetbrains-datagrip-old
	conflicts = jetbrains-datagrip-old
	backup = opt/jetbrains-datagrip-old/bin/idea.properties
	backup = opt/jetbrains-datagrip-old/bin/datagrip64.vmoptions

pkgname = jetbrains-datagrip-jre-old
	pkgdesc = JetBrains Runtime (JBR) for DataGrip - a patched JRE
	provides = jetbrains-datagrip-jre-old
	conflicts = jetbrains-datagrip-jre-old
