[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains DataGrip (old)
Comment=A cross-platform Databases IDE by JetBrains
Exec=jetbrains-datagrip-old %f
Icon=jetbrains-datagrip-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-datagrip-old
