pkgbase = jetbrains-phpstorm
	pkgdesc = A cross-platform PHP IDE by JetBrains.
	pkgver = 2023.3.4
	pkgrel = 1
	url = https://www.jetbrains.com/phpstorm
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = PhpStorm-2023.3.4.tar.gz
	options = !strip
	source = https://download.jetbrains.com/webide/PhpStorm-2023.3.4.tar.gz
	source = jetbrains-phpstorm.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 95814b9d54a6aef1fc0ba98fd6a8ccf888c91ae9643ccd2a32349cc698f7d38b
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-phpstorm
	optdepends = jetbrains-phpstorm-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-phpstorm-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = php: PHP support
	provides = jetbrains-phpstorm
	conflicts = jetbrains-phpstorm
	backup = opt/jetbrains-phpstorm/bin/idea.properties
	backup = opt/jetbrains-phpstorm/bin/phpstorm64.vmoptions

pkgname = jetbrains-phpstorm-jre
	pkgdesc = JetBrains Runtime (JBR) for PhpStorm - a patched JRE
	provides = jetbrains-phpstorm-jre
	conflicts = jetbrains-phpstorm-jre
