[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains PhpStorm
Comment=A cross-platform PHP IDE by JetBrains
Exec=jetbrains-phpstorm %f
Icon=jetbrains-phpstorm
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-phpstorm
