[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains PhpStorm
Icon=jetbrains-phpstorm
Exec=jetbrains-phpstorm %f
Comment=A cross-platform PHP IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-phpstorm
