pkgbase = jetbrains-rubymine
	pkgdesc = A cross-platform Ruby IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/ruby/download/other.html
	install = jetbrains-rubymine-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = giflib
	depends = glib2
	depends = libxtst
	noextract = RubyMine-2021.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/ruby/RubyMine-2021.2.2.tar.gz
	source = jetbrains-rubymine-old.desktop
	source = jetbrains-rubymine-old.install
	source = LICENSE
	sha256sums = 979745e52bdef91ed2ea46f392ba4b838849fbc3ec2ce0607ca7087bdc5479d3
	sha256sums = 39ff033f451cb1f12b61370dadae3d374c364adab1c56f9e1324317d6a5aa7f5
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-rubymine-old
	optdepends = jetbrains-rubymine-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-rubymine-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = ruby: Ruby run/debug support
	provides = jetbrains-rubymine-old
	conflicts = jetbrains-rubymine-old
	backup = opt/jetbrains-rubymine-old/bin/idea.properties
	backup = opt/jetbrains-rubymine-old/bin/rubymine64.vmoptions

pkgname = jetbrains-rubymine-jre-old
	pkgdesc = JetBrains Runtime (JBR) for RubyMine - a patched JRE
	provides = jetbrains-rubymine-jre-old
	conflicts = jetbrains-rubymine-jre-old
