[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains RubyMine (old)
Icon=jetbrains-rubymine-old
Exec=jetbrains-rubymine-old %f
Comment=A cross-platform Ruby IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rubymine-old
