[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains RubyMine (old)
Comment=A cross-platform Ruby IDE by JetBrains
Exec=jetbrains-rubymine-old %f
Icon=jetbrains-rubymine-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-rubymine-old
