pkgbase = jetbrains-webstorm
	pkgdesc = A cross-platform Web IDE by JetBrains.
	pkgver = 2022.3
	pkgrel = 1
	url = https://www.jetbrains.com/webstorm/
	install = jetbrains-webstorm.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	noextract = WebStorm-2022.3.tar.gz
	options = !strip
	source = https://download.jetbrains.com/webstorm/WebStorm-2022.3.tar.gz
	source = jetbrains-webstorm.desktop
	source = jetbrains-webstorm.install
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-webstorm
	depends = giflib
	depends = glib2
	depends = libxtst
	depends = libxrender
	optdepends = jetbrains-webstorm-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-webstorm-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = nodejs: JavaScript run/debug support
	provides = jetbrains-webstorm
	conflicts = jetbrains-webstorm
	backup = opt/jetbrains-webstorm/bin/idea.properties
	backup = opt/jetbrains-webstorm/bin/webstorm64.vmoptions

pkgname = jetbrains-webstorm-jre
	pkgdesc = JetBrains Runtime (JBR) for WebStorm - a patched JRE
	provides = jetbrains-webstorm-jre
	conflicts = jetbrains-webstorm-jre
