[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains WebStorm
Comment=A cross-platform Web IDE by JetBrains
Exec=jetbrains-webstorm %f
Icon=jetbrains-webstorm
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-webstorm
