pkgbase = jetbrains-rider
	pkgdesc = A cross-platform C# IDE by JetBrains.
	pkgver = 2023.1.1
	pkgrel = 1
	url = https://www.jetbrains.com/rider/
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = JetBrains.Rider-2023.1.1.tar.gz
	options = !strip
	source = https://download.jetbrains.com/rider/JetBrains.Rider-2023.1.1.tar.gz
	source = jetbrains-rider.desktop
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 19bbc8d9bd95e6525bccc7ae9b1644c1f4c757f88fbd8f2a2777832c6422877f
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-rider
	optdepends = jetbrains-rider-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-rider-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = mono: .NET runtime
	optdepends = msbuild: Build .NET Core projects
	provides = jetbrains-rider
	conflicts = jetbrains-rider
	backup = opt/jetbrains-rider/bin/idea.properties
	backup = opt/jetbrains-rider/bin/rider64.vmoptions

pkgname = jetbrains-rider-jre
	pkgdesc = JetBrains Runtime (JBR) for Rider - a patched JRE
	provides = jetbrains-rider-jre
	conflicts = jetbrains-rider-jre
