[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains Rider
Comment=A cross-platform C# IDE by JetBrains
Exec=jetbrains-rider %f
Icon=jetbrains-rider
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-rider
