[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=jetbrains-rider
Exec=jetbrains-rider %f
Comment=A cross-platform C# IDE by JetBrains
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
