pkgbase = jetbrains-webstorm
	pkgdesc = A cross-platform Web IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/webstorm/download/other.html
	install = jetbrains-webstorm-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	noextract = WebStorm-2021.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/webstorm/WebStorm-2021.2.2.tar.gz
	source = jetbrains-webstorm-old.desktop
	source = jetbrains-webstorm-old.install
	source = LICENSE
	sha256sums = 226d039746ac2a6148e7c7b7b45ae87f0080eb64ede78e85226cd9a43ea67ba8
	sha256sums = SKIP
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-webstorm-old
	depends = giflib
	depends = glib2
	depends = libxtst
	optdepends = jetbrains-webstorm-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-webstorm-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = nodejs: JavaScript run/debug support
	provides = jetbrains-webstorm-old
	conflicts = jetbrains-webstorm-old
	backup = opt/jetbrains-webstorm-old/bin/idea.properties
	backup = opt/jetbrains-webstorm-old/bin/webstorm64.vmoptions

pkgname = jetbrains-webstorm-jre-old
	pkgdesc = JetBrains Runtime (JBR) for WebStorm - a patched JRE
	provides = jetbrains-webstorm-jre-old
	conflicts = jetbrains-webstorm-jre-old
