[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains WebStorm (old)
Comment=A cross-platform Web IDE by JetBrains
Exec=jetbrains-webstorm-old %f
Icon=jetbrains-webstorm-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-webstorm-old
