pkgbase = jetbrains-dataspell
	pkgdesc = A cross-platform Data Scientists IDE by JetBrains.
	pkgver = 2022.3
	pkgrel = 3
	url = https://www.jetbrains.com/dataspell/
	install = jetbrains-dataspell.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = giflib
	depends = glib2
	depends = libxtst
	depends = libxrender
	noextract = dataspell-2022.3.tar.gz
	options = !strip
	source = https://download.jetbrains.com/python/dataspell-2022.3.tar.gz
	source = jetbrains-dataspell.desktop
	source = jetbrains-dataspell.install
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 4ec6a899459a019356f013fff44358ff6f4f7b0a1f8c872ab36f07f4db6b6d06
	sha256sums = ec4c58e5e3636feb9ab106229bf29abe6c6117eb73f1a36fdf2a35c4e7e98fe0
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-dataspell
	optdepends = jetbrains-dataspell-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-dataspell-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	provides = jetbrains-dataspell
	conflicts = jetbrains-dataspell
	backup = opt/jetbrains-dataspell/bin/idea.properties
	backup = opt/jetbrains-dataspell/bin/dataspell64.vmoptions

pkgname = jetbrains-dataspell-jre
	pkgdesc = JetBrains Runtime (JBR) for DataSpell - a patched JRE
	provides = jetbrains-dataspell-jre
	conflicts = jetbrains-dataspell-jre
