[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains DataSpell
Comment=A cross-platform Data Scientists IDE by JetBrains
Exec=jetbrains-dataspell %f
Icon=jetbrains-dataspell
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-dataspell
