pkgbase = jetbrains-phpstorm
	pkgdesc = A cross-platform PHP IDE by JetBrains.
	pkgver = 2021.2.2
	pkgrel = 1
	url = https://www.jetbrains.com/phpstorm/download/other.html
	install = jetbrains-phpstorm-old.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = giflib
	depends = glib2
	depends = libxtst
	noextract = PhpStorm-2021.2.2.tar.gz
	options = !strip
	source = https://download.jetbrains.com/webide/PhpStorm-2021.2.2.tar.gz
	source = jetbrains-phpstorm-old.desktop
	source = jetbrains-phpstorm-old.install
	source = LICENSE
	sha256sums = e05ff409406f23fa29c585d9096c6ff665760e1a57edbd73b8268916d368941a
	sha256sums = bf645fb25b3ad0f1d6da803b04ebb2f30085aa5192afea8d4f304ded306db894
	sha256sums = f2b528f523962d0ec4511e3fa4a6d2e5b6cf959da8547017b32c6fed6f06821a
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-phpstorm-old
	optdepends = jetbrains-phpstorm-jre-old: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if jetbrains-phpstorm-jre-old is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = php: PHP support
	provides = jetbrains-phpstorm-old
	conflicts = jetbrains-phpstorm-old
	backup = opt/jetbrains-phpstorm-old/bin/idea.properties
	backup = opt/jetbrains-phpstorm-old/bin/phpstorm64.vmoptions

pkgname = jetbrains-phpstorm-jre-old
	pkgdesc = JetBrains Runtime (JBR) for PhpStorm - a patched JRE
	provides = jetbrains-phpstorm-jre-old
	conflicts = jetbrains-phpstorm-jre-old
