[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains PhpStorm (old)
Comment=A cross-platform PHP IDE by JetBrains
Exec=jetbrains-phpstorm-old %f
Icon=jetbrains-phpstorm-old
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-phpstorm-old
