pkgbase = jetbrains-clion
	pkgdesc = A cross-platform C and C++ IDE by JetBrains.
	pkgver = 2022.3.1
	pkgrel = 2
	url = https://www.jetbrains.com/clion/
	install = jetbrains-clion.install
	arch = x86_64
	license = custom:jetbrains
	makedepends = rsync
	depends = nspr
	depends = nss
	depends = pcre
	depends = alsa-lib
	noextract = CLion-2022.3.1.tar.gz
	options = !strip
	source = https://download.jetbrains.com/cpp/CLion-2022.3.1.tar.gz
	source = jetbrains-clion.desktop
	source = jetbrains-clion.install
	source = LICENSE
	sha256sums = SKIP
	sha256sums = 51c1091a54406a7504d02b737906046dde5d67ba1310ce54ef8530f14d63cc9d
	sha256sums = a0ddbea1cf07f2358915eb6841775dbea20c880ab76b82a7caee009124262595
	sha256sums = c37db68dbedb20617a23cf1299cd95e7f114f019ff7f44877409cef916ff6ab1

pkgname = jetbrains-clion
	optdepends = jetbrains-clion-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = jetbrains-clion-clang: JetBrains packaged LLVM compiler
	optdepends = jetbrains-clion-cmake: JetBrains packaged CMake build system
	optdepends = jetbrains-clion-gdb: JetBrains packaged GNU debugger
	optdepends = jetbrains-clion-lldb: JetBrains packaged LLVM debugger
	optdepends = java-runtime: JRE - Required if jetbrains-clion-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	optdepends = gnome-keyring: Save login/deployment credentials safely
	optdepends = java-openjfx: Rendering Markdown files
	optdepends = cmake: Build system - Required if jetbrains-clion-cmake is not installed
	optdepends = gdb: GNU debugger - Required if jetbrains-clion-gdb is not installed
	optdepends = lldb: LLVM debugger - Required if jetbrains-clion-lldb is not installed
	optdepends = gcc: GNU compiler
	optdepends = clang: LLVM compiler
	optdepends = biicode: C/C++ dependency manager
	optdepends = gtest: C++ testing
	optdepends = swift-language: Swift programming language support (Also requires the plugin)
	optdepends = doxygen: Code documentation generation
	provides = jetbrains-clion
	conflicts = jetbrains-clion
	backup = opt/jetbrains-clion/bin/idea.properties
	backup = opt/jetbrains-clion/bin/clion64.vmoptions

pkgname = jetbrains-clion-jre
	pkgdesc = JetBrains Runtime (JBR) for CLion - a patched JRE
	provides = jetbrains-clion-jre
	conflicts = jetbrains-clion-jre

pkgname = jetbrains-clion-clang
	provides = jetbrains-clion-clang
	conflicts = jetbrains-clion-clang

pkgname = jetbrains-clion-cmake
	provides = jetbrains-clion-cmake
	conflicts = jetbrains-clion-cmake

pkgname = jetbrains-clion-gdb
	provides = jetbrains-clion-gdb
	conflicts = jetbrains-clion-gdb

pkgname = jetbrains-clion-lldb
	provides = jetbrains-clion-lldb
	conflicts = jetbrains-clion-lldb
