[Desktop Entry]
Type=Application
Version=1.0
Name=JetBrains CLion
Comment=A cross-platform C and C++ IDE by JetBrains
Exec=jetbrains-clion %f
Icon=jetbrains-clion
Terminal=false
Categories=Development;IDE;
StartupWMClass=jetbrains-clion
